In [302]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("spotify_millsongdata.csv")

In [8]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [10]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [12]:
df.shape

(57650, 4)

In [14]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [18]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [20]:
df.head(10)

,artist,song,text
0,Pearl Jam,Brain Of J.,Who's got the brain of JFK? \r\nWhat's it mea...
1,The Monkees,Dyin' Of A Broken Heart,I told my Doctor something's wrong with me \r...
2,George Michael,Battlestations,You ask too much of me \r\nYou try my patienc...
3,Vanessa Williams,Higher Ground,Walk me over this situation \r\nLet the sun's...
4,David Allan Coe,Bossier City,My hands are shaking as I'm sadly learning \r...
5,Tiffany,All The Talking,"(Tiffany, J. Brooks, T. Feehan) \r\nI don't l..."
6,Billie Holiday,On The Sunny Side Of The Street,Grab your coat and get your hat \r\nLeave you...
7,Rainbow,Bring On The Night,I was taking a chance on a tight-rope \r\nWal...
8,Kanye West,Don't Look Down,"[Mos Def] \r\nDon't look down, it's an imposs..."
9,Housemartins,Flag Day,Too many Florence Nightingales \r\nNot enough...

In [22]:
df['text'][0]

"Who's got the brain of JFK?  \r\nWhat's it mean to us now? (yeah)  \r\nPause, It sounds distrust  \r\nBut I can tell you this is no lie  \r\n  \r\nThe whole world will be different soon  \r\nThe whole world will be relieving  \r\n  \r\nYou you've been taught  \r\nWhipped into shape now they got you in line  \r\nStand behind the stripes  \r\nThere will be order so give it a good mind  \r\nThe whole world will be different soon  \r\nThe whole world will be relieving  \r\n  \r\nAnd by name  \r\nThe name they gave me  \r\nThe name I'm letting go  \r\n  \r\nThe whole world will be different soon  \r\nThe whole world will be relieving  \r\nThe whole world will be different soon, soon\r\n\r\n"

In [26]:
df = df.sample(5000)

In [28]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [47]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [49]:
import nltk
from nltk.stem.porter import PorterStemmer

In [51]:
stemmer = PorterStemmer()

In [63]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/BusinessAnalyst/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [65]:
df['text'].apply(lambda x: token(x))

669     i think i see gold word by ray boltz , music b...
713     you 're not the right one dumb damn rapper not...
317     for all night dwight got a '56 cadillac with a...
951     a man walk down the street he say whi am i sof...
1288    nick perform thi for the italian film mojo , a...
                              ...
671     babi grace is the victim she wa 14 year of age...
3046    see the strang boy keep to the shadow he 's a ...
4814    one littl christma tree wa stand alon wait for...
2040    hey hey littl princess so tell me what is your...
3994    i could be anywher els but here but the rain w...
Name: text, Length: 5000, dtype: object

In [83]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [272]:
from sklearn.metrics.pairwise import cosine_similarity

In [87]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [89]:
matrix = tfid.fit_transform(df['text'])

In [276]:
cosine_similarity(matrix)

array([[1.        , 0.07862708, 0.0241343 , ..., 0.0197514 , 0.01878532,
        0.02802718],
       [0.07862708, 1.        , 0.02643883, ..., 0.02417193, 0.01507558,
        0.00911296],
       [0.0241343 , 0.02643883, 1.        , ..., 0.01520245, 0.03278254,
        0.01490415],
       ...,
       [0.0197514 , 0.02417193, 0.01520245, ..., 1.        , 0.12175787,
        0.01098808],
       [0.01878532, 0.01507558, 0.03278254, ..., 0.12175787, 1.        ,
        0.05438503],
       [0.02802718, 0.00911296, 0.01490415, ..., 0.01098808, 0.05438503,
        1.        ]])

In [278]:
cosine_similarity(matrix)[0]

array([1.        , 0.07862708, 0.0241343 , ..., 0.0197514 , 0.01878532,
       0.02802718])

In [174]:
df[df['song']=='Bring On The Night'].index[0]

7

Recommender Function

In [280]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(cosine_similarity(matrix)[idx])), reverse=True, key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [284]:
recommendation('About A Heart')

['Every Time She Walks',
 'Cause I Love You',
 'Never Will Give Up',
 'Everytime We Say Goodbye',
 'Guitar And Pen',
 'Hard To Forget Ya',
 'Right Off Rampart Street',
 'Chords Of Fame',
 'Guitar Man',
 'Reach',
 'Electric Chair',
 'Call Me',
 "I'm Coming Out",
 'Let Me',
 'Top Down',
 "I'm Coming Home",
 'Fuel To The Flame',
 'Right On',
 'Katy Brought My Guitar Back Today',
 'Photographs']

In [286]:
import pickle

In [288]:
pickle.dump(cosine_similarity(matrix), open("similarity_pkl", "wb"))

In [292]:
pickle.dump(df, open("df_pkl", "wb"))

In [294]:
ssaamme = cosine_similarity(matrix)

In [298]:
pickle.dump(saamme, open("similarity_pkl", "wb"))